.Card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #90dada;
    border: 1px solid grey;
    border-radius: 5px;
    padding: 25px;
    cursor: pointer;
    -moz-osx-font-smoothing: grayscale;
    backface-visibility: hidden;
    transform: translateZ(0);
    transition: transform 0.25s ease-out;
}

.Card:hover{
    transform: scale(1.05);
}

.Card img {
    width:180px; /* you can use % */
    height: auto;
}

